.footer-cadastro {
    margin-top: 170px;
}

.voltar {
    padding-top: 30px;
    padding-left: 20px;
}

.cadastro {
    margin-bottom: 30px;
}

.titulo-cadastro {
    font-weight: bold;
    margin: 15px;
}

.texto-cadastro {
    font-size: 12px;
    font-weight: bolder;
    margin: 15px;
}

